<div class="jumbotron m-3">
  <h1 class="display-4">City: <%= @forecast.city %>!</h1>
  <p><%= @forecast.postcode %></p>
  <p><%= @forecast.country %></p>
  <%
=begin%>
 <strong></strong>
  <p class="lead font-weight-bold">It's shaping up to be a <strong><%= @forecast.temp %></strong> one for <strong><%= @forecast.postcode %></strong> today (by your estimations). <%= @forecast.temp == 'cold' ? '❄️' : '☀️' %></p>
  <p class="lead">We're expecting highs of up to <code style="color: red;"><%= @forecast.max_temp %>°C</code>, and lows down to <code style="color: blue;"><%= @forecast.min_temp %>°C</code>.</p>
  <p class="lead">
<%
=end%>
    <%= link_to "Reset", root_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
