<div class="jumbotron m-3">
  <p class="display-4">The Weather in <strong><%= @forecast.city %></strong></p>

<div>
  <h3>Hourly Breakdown:</h3>
  <div class="d-flex justify-content-center">
    <div>
      <h4>AM</h4>
      <p>12:00am:--- <strong><%= @hourly_temp_1[0].hour_00 %></strong>°C</p>
      <p>01:00am:--- <strong><%= @hourly_temp_1[0].hour_01 %></strong>°C</p>
      <p>02:00am:--- <strong><%= @hourly_temp_1[0].hour_02 %></strong>°C</p>
      <p>03:00am:--- <strong><%= @hourly_temp_1[0].hour_03 %></strong>°C</p>
      <p>04:00am:--- <strong><%= @hourly_temp_1[0].hour_04 %></strong>°C</p>
      <p>05:00am:--- <strong><%= @hourly_temp_1[0].hour_05 %></strong>°C</p>
      <p>06:00am:--- <strong><%= @hourly_temp_1[0].hour_06 %></strong>°C</p>
      <p>07:00am:--- <strong><%= @hourly_temp_1[0].hour_07 %></strong>°C</p>
      <p>08:00am:--- <strong><%= @hourly_temp_1[0].hour_08 %></strong>°C</p>
      <p>09:00am:--- <strong><%= @hourly_temp_1[0].hour_09 %></strong>°C</p>
      <p>10:00am:--- <strong><%= @hourly_temp_1[0].hour_10 %></strong>°C</p>
      <p>11:00am:--- <strong><%= @hourly_temp_1[0].hour_11 %></strong>°C</p>
    </div>

    <div class="mx-3">
      <h4>PM</h4>
      <p>12:00pm:--- <strong><%= @hourly_temp_1[0].hour_12 %></strong>°C</p>
      <p>13:00pm:--- <strong><%= @hourly_temp_1[0].hour_13 %></strong>°C</p>
      <p>14:00pm:--- <strong><%= @hourly_temp_1[0].hour_14 %></strong>°C</p>
      <p>15:00pm:--- <strong><%= @hourly_temp_1[0].hour_15 %></strong>°C</p>
      <p>16:00pm:--- <strong><%= @hourly_temp_1[0].hour_16 %></strong>°C</p>
      <p>17:00pm:--- <strong><%= @hourly_temp_1[0].hour_17 %></strong>°C</p>
      <p>18:00pm:--- <strong><%= @hourly_temp_1[0].hour_18 %></strong>°C</p>
      <p>19:00pm:--- <strong><%= @hourly_temp_1[0].hour_19 %></strong>°C</p>
      <p>20:00pm:--- <strong><%= @hourly_temp_1[0].hour_20 %></strong>°C</p>
      <p>21:00pm:--- <strong><%= @hourly_temp_1[0].hour_21 %></strong>°C</p>
      <p>22:00pm:--- <strong><%= @hourly_temp_1[0].hour_22 %></strong>°C</p>
      <p>23:00pm:--- <strong><%= @hourly_temp_1[0].hour_23 %></strong>°C</p>
    </div>
  </div>
</div>

  <%= link_to "Reset", root_path, class: "btn btn-primary btn-lg" %>
</div>
